
#listnavbar li {
    float: left;
    text-align: center;
    display: block;
    width: 33.3333333333333333333333%;
    font-size: 350%;
}

#embednav {
    float: left;
    width: 100%;
    border-width: 0;
    height: 100px;
}

img {
    width: 50%;
}

#index h1 {
    font-size: 500%;
}