/* ####################################################### */
/* GLOBAL STYLES                                           */
/* ####################################################### */


img {
    width: 50%;
}

.backgrounded {
    background:radial-gradient(#5e904d,#259d8e);
    color: #baeaf4;
}


/* ####################################################### */
/* INDEX.HTML                                              */
/* ####################################################### */



#index h1 {
    font-size: 500%;

    -webkit-margin-before: 16px;/*Removes whitespace around header*/
    -webkit-margin-after: 20px;/*Removes whitespace around header*/
    color: #baf4bb;

}

#index p {
    font-size: larger;
    font-family: "DejaVu Sans", "Lucida Console", "Verdana";
}

#index div {
    clear: both; /*Removed whitespace above navbar*/
}

/* ####################################################### */
/* NAVBAR                                                  */
/* ####################################################### */

#listnavbar li {
    float: left;
    text-align: center;
    display: block;
    width: 33.3333333333333333333333%;
    font-size: 350%;
}

#embednav {
    width: 100%;
    height: 85px;
    border-width: 0; /*Removes border from navbar*/
}
